@tailwind base;
@tailwind components;
@tailwind utilities;
@layer url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@layer url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
  .indicator{
    transition: left .4s;
  }

  
.dark{
    --color-background : #23232300;
    --color-green-primary : #015741;
    --color-grey-primary : #505050;
    --color-grey-secondary : #666565; 
}
.light{
    --color-background : #ffff;
    --color-green-primary : #015741;
    --color-grey-primary : #505050;
    --color-grey-secondary : #666565; 
    --text-white : #fff;
}

@font-face {
  font-family: Hafs;
  src: url(/public/assets/fonts/hafs.ttf);
}